# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# VS Projects
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs

# Build Dirs
bin
bin-int

