[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "vendor/LOGGER/SPDLOG"]
	path = vendor/LOGGER/SPDLOG
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/DEARIMGUI"]
	path = vendor/DEARIMGUI
	url = https://github.com/ocornut/imgui.git
	branch = docking
